<!doctype  html>
{% load static %}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="icon" href="{% static 'icons/icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">
    <title>{{ title }}</title>
    <meta name="description" property="og:description" content="Welcome to the website - DaLinci.com shortening links online. If you want to shorten the link, as well as view detailed statistics and dynamics of your link, our website will help you perfectly with this">
    <meta name="keywords" content="shorten link, abbreviated links, statistics of my link, short link, short address">
    <meta name="author" content="Alex">
    <meta name="yandex-verification" content="7975f6addc30897e" />
</head>
<body>

<div class="container">
    {% block main %}
    {% endblock %}
</div>

</body>
</html>