<!doctype  html>
{% load static %}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>{{ title }}</title>
</head>
<body>
<div class="container">

    <div class="justify-content-center align-items-center block_vh direction_flexible_block">
    <h1 class="text-center h1_big_title">DaLinci.com</h1>
        <div class="col-md-auto">
            {% block main %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>